body {
    margin: 0;
    padding: 0;
    background: transparent url('assets/Bg.jpg') 0% 0% no-repeat padding-box;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    
}
.card{
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border-radius: 20px !important;
    width: 500px;
    height: 610px;
}
.login-text h4{
    color: #000000;
    margin-left: 30px;
    margin-top: 53px;
    font-size: 24px;
    /* font: normal normal bold 24px/33px Open Sans; */
    letter-spacing: 0px;
    width: 85px;
    height: 33px;
}
.err{
    color: red;
    font-size: smaller;
    position: relative;
    bottom: 18px;
    left: 12px;
}
.login-text p{
    margin-left: 30px;
    
    height: 48px;
    text-align: left;
    font-size:18px/24px ;
    /* font: normal normal normal 18px/24px Open Sans; */
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.5;
}

.remember{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}
.remember .form-check-input:checked{
    background-color: #2eff00;
    border: none;
    box-shadow: none;
}
.forget-pass{
    font-size: 16px/22px;
    /* font: normal normal 600 16px/22px Open Sans; */
    letter-spacing: 0px;
    color: #0974DD;

}
/* .password{
    padding-bottom: 30px;
} */
.forget-pass a{
    text-decoration: none;
    cursor: pointer;
}
.buttons .btn{
    color: #FFFFFF;
    width: 420px;   
    height: 50px;
    background: transparent linear-gradient(270deg, #386CB5 0%, #669FED 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #386CB566;
    border-radius: 6px;
}
/* .buttons .btn:hover{
    border: 1px solid black;
    font-weight: 400;
} */
.buttons{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
.block-3{
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
}
.text-center{
    display: flex;
    font-size: 16px/22px;
    font-weight: 600;
    /* font: normal normal 600 16px/22px Open Sans; */
    align-items: center;
}
.block-3 .register-btn{
    color: #FFFFFF;
    background: #FEC006 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
    border-radius: 6px;
}
.copyright{

    text-align: center;
    padding-top: 25px;
    width: 500px;
    height: 38px;
}
.input-icon{
    position: relative;
    top: 20px;
}
input:invalid{
   border-bottom: 2px solid red; 
}
.input-box{
    display: flex;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
}
.email-pass-logo{
    width: 20px;
    margin: 0px 10px;
    align-self:center ;
}
#floatingInput{
    border: none;
    width: 413px;
}
#floatingInput:focus{
    border: none;
    box-shadow: none;
    border-bottom:2px solid #0974DD;
    border-bottom-right-radius:0%;
    border-bottom-left-radius:0% ;
}
#floatingPassword{
    border: none;
    width: 368px;
}
#floatingPassword:focus{
    border: none;
    box-shadow: none;
    border-bottom:2px solid #0974DD;
    border-bottom-right-radius:0%;
    border-bottom-left-radius:0% ;
}
.eye-logo:hover{
    cursor: pointer;
}
@media screen and (max-width:1200px) {
    .logo{
        width: 300px;
        
    }
    
}


@media screen and (max-width:800px) {
    /* .logo{
        width: 300px;
        
    } */
    .card{
        align-items: center;
        width: 80%;
        height: 80%;
    }
    .buttons .btn{
        width: 100%;
        
    }
    .copyright{
        width: 75vw;
        height: 10vh;
    }
    .login-text p{
        height: 100%;
    }
   form{
    width: 80%;
    height: 80%;
   }
   .block-3{
    padding-bottom:40px ;
   }
   .card-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
   #floatingInput{
    width: 55vw;
    }
    #floatingPassword{
    width: 52vw;
    }
}
@media screen and (max-width:400px) {
    .image{
        padding-bottom: 20px;
    }
    
}
@media screen and (max-width:610px) {
    #floatingPassword{
        width: 48vw;
    }
    #floatingInput{
        width: 52vw;
    }
}
@media screen and (max-width:440px) {
    #floatingPassword{
        width: 40vw;
    }
    #floatingInput{
        width: 48vw;
    }
}